html, body
{
    background-color:white;
    color: black;
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited
{
    background-color: black;
    color: white;
    text-decoration: none;
}

div#menu
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #007;
    background-color: #ddd;
}